@import url("chrome://global/skin/global.css");

.infoCP {
	font-size: 140%;
	border: none;
}

.threat-0 { }
.threat-1 { background-color: darkgreen; }
.threat-2 { background-color: darkorange; }
.threat-3 { background-color: darkred; }
