@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#jondofox-anontest {
  list-style-image: url("chrome://jondofox/skin/anontest-16x16.gif");
  list-style-position: inside;
  -moz-image-region: rect(0px, 16px, 16px, 0px);  
  -moz-box-orient: horizontal;
}

#jondofox-editcustom {
  list-style-image: url("chrome://jondofox/skin/editcustom-16x16.gif");
  list-style-position: inside;
  -moz-image-region: rect(0px, 16px, 16px, 0px);  
  -moz-box-orient: horizontal;
}
